
body, html {
  overflow-x: hidden;
}


.header {
    background-color: blue;
}

@keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  .text-shadow {
    text-shadow: 0 0 1px rgb(0, 0, 0), 
    0 0 1px rgb(0, 0, 0), 
    0 0 1px rgb(0, 0, 0);
}

  